/*--------------------------Animation @keyframe functions-----------------------------------*/
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    opacity: 0.7;
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    opacity: 0.7;
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    opacity: 0.8;
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    opacity: 0.8;
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

/*--------------------------Animation @keyframe functions-----------------------------------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  /*inherit the box size property from down below*/
}

html {
  font-size: 62.5%;
  /*let our user change font size by change zoom in value of their browser*/
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*here inside body selector we defined body wise font property that will be inherited by child element*/
body {
  font-family: "lato",sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  /*to give some distance between each lines of sentences*/
  color: #777;
  padding: 3rem;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /*to transaform the text into uppercase*/
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /*to avoid shaky animation my hiding back part element*/
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  /*to give spacing between each letter of a word*/
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  /*name of the animation*/
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  /*duration of the animation*/
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  /* animation-timing-function: step-start; it specifies hoow a css animation should progress over the diration of time of each cycle */
  /* animation-iteration-count: 3;  this will replay the animation for the set count*/
  /* animation-delay: 3s;  this will delay the animation for the set duration */
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  -webkit-animation: moveInRight 1s ease-out;
          animation: moveInRight 1s ease-out;
  /*alternative way of setting animation property in a single line code*/
  /* animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out; */
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all .4s;
  transition: all .4s;
  /*transition property always used in initial state*/
  position: relative;
  font-size: 1.6rem;
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn--white::after {
  background-color: #fff;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8);
  /*first two are in which direction we want to put the shadow 3rd argument is blur value and last is color of the shadow*/
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.8);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.8);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btn--animated {
  -webkit-animation: moveInBottom .5s ease-out .75s;
          animation: moveInBottom .5s ease-out .75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  /*this automatically apply our 0% animation state to targeted element*/
}

.header {
  position: relative;
  height: 95vh;
  /*in every case the height will be of 95% of view port height*/
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(85, 197, 122, 0.8)), to(rgba(40, 180, 133, 0.8))), url("../img/hero.jpg");
  background-image: linear-gradient(to right, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  /*it will cover the entire avalable viewport*/
  background-position: top;
  /*even if we change the view port the top remains the same*/
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 3.5rem;
}

.header__logo-box:hover .header__logo {
  -webkit-animation: moveInRight 1s ease-in;
          animation: moveInRight 1s ease-in;
}

.header__text-box {
  position: absolute;
  top: 40%;
  /*relative to parent element*/
  left: 50%;
  /*relative to parent element*/
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /*transform it in relative to itself to centre it at any viewport*/
  text-align: center;
}
/*# sourceMappingURL=main.css.map */