.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden;

    &__content{
        height: 100%;
        width: 100%;
        object-fit: cover; //to fi our background video into the section properly and clipped off parts that are overflowing
    }
}