.popup{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba($color-black , .8);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition:  all .3s;

    @supports(backdrop-filter: blur(10px)){

        backdrop-filter: blur(10px);
        background-color: rgba($color-black , .3);

    }

    &__content{
        @include absCenter;
        background-color: $color-white;
        border-radius: 3px;
        width: 75%;
        box-shadow: 0 2rem 4rem rgba($color-black , .4);
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%,-50%) scale(.25); 
        transition: all .5s .2s;

        @include respond(tab-land){
            width: 95%;
        }
    }
    &__left{
        width: 33.333333%;
        display: table-cell;
        @include respond(tab-land){
            display: table-row;
        }
    }
    &__right{
        width: 66.666667%;
        display: table-cell;
        vertical-align: middle; //to allign this in the middle of its cell
        padding: 3rem 5rem;

        @include respond(tab-land){
            display: table-row;
            text-align: center;
            
        }
    }
    &__img{
        display: block;
        width: 99%;
        @include respond(tab-land){
            width: 50%;
            display: inline-block;
            margin-top: -1.1rem;
        }
        
    }
    &__text{
        font-size: 1.4rem;
        margin-bottom: 4rem;

        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid $color-grey-light-2; //a vertical line between 2 columns

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-2; //a vertical line between 2 columns
        
        @supports((hyphens: auto) or (-moz-hyphens: auto)){
            -moz-hyphens: auto;
             hyphens: auto; //wont work in our case because it is only supported in chrom for mac and android platform for time being :(
        }
        
        
            @include respond(tab-land) {
                column-count: 1;
                column-gap: 0;
                column-rule: none;
            }
     
            @include respond(phone) {
                column-count: 1;
                margin-bottom: 2rem;
            }
      
    }
    //open state of our popup
    &:target{
        opacity: 1;
        visibility: visible;
    }
    &:target &__content{
        opacity: 1;
        transform: translate(-50%,-50%) scale(1);
    }
    &__close{
        &:link,
        &:visited{
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
        }
        &:hover{
            color: $color-primary;
        }
    }
}