*, /*universal selector to make all browser render our webpage in same way */
*::after, /*with these two line of code we aslo make after and before psudo element to inherit this behaviour too*/
*::before { 
    margin: 0;
    padding: 0;

    box-sizing: inherit; /*inherit the box size property from down below*/
    
}
html{
    //this define what 1 rem is i.e 10px 10/16 =62.5
    font-size: 62.5%; /*let our user change font size by change zoom in value of their browser*/

  
    // @include respond(phone){ //since evenon phone we want font size to be 50% but since any thing less than 900px will also be having font size 50% therefore this will be redundant code so we commented out phone 
    //     font-size: 50%;
    // }
    @include respond(big-desktop){
        font-size: 75%; // 1 rem = 12px/16px =75%
    }                                                                //the order of media queries must be decending order because the bottom one have more precidence over upper one
    @include respond(tab-land){
        font-size: 56.25%; // 1 rem = 9px/16px =56.25%
    }
    @include respond(tab-port){
        font-size: 50%; //1 rem = 8px/16px = 50%
    }
   

}

body{
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port){
        padding: 0;
    }
}

::selection{
    background-color: $color-primary;
    color: $color-white;
}