
 /*here inside body selector we defined body wise font property that will be inherited by child element*/
body{
    font-family: "lato",sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7; /*to give some distance between each lines of sentences*/
    color: $color-grey-dark;
    padding: 3rem;
}


.heading-primary{
    color: $color-white;
    text-transform: uppercase; /*to transaform the text into uppercase*/

    backface-visibility: hidden; /*to avoid shaky animation my hiding back part element*/
    margin-bottom: 6rem;

    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem; /*to give spacing between each letter of a word*/
    
        animation-name: moveInLeft; /*name of the animation*/
        animation-duration: 1s; /*duration of the animation*/
        animation-timing-function: ease-out;
    
        /* animation-timing-function: step-start; it specifies hoow a css animation should progress over the diration of time of each cycle */
        /* animation-iteration-count: 3;  this will replay the animation for the set count*/
        /* animation-delay: 3s;  this will delay the animation for the set duration */
    
    }
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
    
        animation: moveInRight 1s ease-out ; /*alternative way of setting animation property in a single line code*/
    
        /* animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out; */
    }
}

.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light ,$color-primary-dark);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .4);
    }

}

.heading-tertiary{
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph{
    font-size: $default-font-size;
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}